<div class="modal-header">
  <h4 class="modal-title pull-left">{{title}}</h4>
  <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form novalidate (ngSubmit)="createToken()" [formGroup]="stripeTest">
    <input class="form-control my-3" type="text" aria-label="cardholder's name" formControlName="name" placeholder="Cardholder's Name">
    <ngx-stripe-card
      [options]="cardOptions"
      [elementsOptions]="elementsOptions"
    ></ngx-stripe-card>
    <button type="submit" class="btn btn-primary my-3">Proceed</button>
  </form>
</div>
<!-- <div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">{{closeBtnName}}</button>
</div> -->






